* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
  }
  
.container {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

.login-box {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    background: #fff ;
}
.sign-box {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    background: #fff ;
    overflow-y: scroll;
}
  
form {
    width: 100%;
    padding: 15px 50px;
    
}
.login-box h2 {
    padding:  95px 0 5px 0;
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
}  

.sign-box h2 {
    padding:  35px 0 5px 0;
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
}
  
.input-box {
    position: relative;
    margin: 25px 0;
}
  
input {
    display: flex;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #626262;
    padding: 0 20px;
    transition: .5s ease;
}
#gen {
  width: 100%;
  border: 2px solid #2c4766;
  border-radius: 40px;
  padding: 10px 25px;
}
#gender {
  border: 1px solid #2c4766;
  border-radius: 40px;
  padding: 5px 14px;
  color: #626262;
  cursor: pointer;
}
#image {
  width: 100%;
  border: 2px solid #2c4766;
  border-radius: 40px;
  padding: 15px 25px;
  color: #626262;
  cursor: pointer;
}

.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
  }
  
  .forgot-pass a {
    font-size: .85em;
    color: #000000;
    text-decoration: none;
  }

.btn {
    width: 100%;
    height: 45px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}

  
  .signup-link {
    margin: 20px 0 10px;
    text-align: center;
  }
  
  .signup-link a {
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
  }